%section.col-lg-12.event-bet
  %header.col-lg-12.event-header
    %h2.col-xs-10
      %span.event-team
        = bet.team.name
      %br
      %span.bet-price
        = bet.odds
  .col-lg-12.event-body
    %p.col-lg-12.league-time
      %span.pull-left
        = bet.game_line.league.abbreviation
      %time.pull-right
        = l(bet.game_line.time)
  %footer.col-lg-12.event-footer
    = form_for bet, remote: true do |f|
      %figure.col-lg-6.col-sm-12
        %label
          Risk
        %p.form-control-static
          = number_to_currency(bet.risk)
      %figure.col-lg-6.col-sm-12
        %label
          Payout
        %p.form-control-static
          = number_to_currency(bet.payout)

      = f.submit 'Update my risk',
                 class: 'cta-button btn btn-success col-lg-12 bet-update',
                 style: 'display: none;',
                 data: { bet: bet.id, risk: bet.risk }
  .clearfix
