.add-bet.container{data: { game_line: @bet.game_line_id, team: @bet.team_id }}
  .row
    .col-sm-12.event-header
      = link_to '#', class: 'pull-right event-remove' do
        %span.glyphicon.glyphicon-remove{'aria-hidden' => true}
      %h2
        I want to bet on the
        = @bet.team.name
        = "(#{@bet.kind_description})"

  = form_for @bet, remote: true do |f|
    = f.hidden_field :game_line_id
    = f.hidden_field :team_id

    .row{style: 'margin-bottom: 10px;'}
      .col-sm-12.col-md-6
        = f.label :risk, 'My risk'
        = f.number_field :risk,
                         step: 0.01, class: 'col-sm-12 bet-risk',
                         data: { odds: @bet.odds,
                                 game_line: @bet.game_line_id,
                                 team: @bet.team_id },
                         required: true

      .col-sm-12.col-md-6

    .row
      .col-sm-12.col-md-6
        = f.submit "That's right, place the bet",
                   class: 'btn btn-success bet-add',
                   style: 'margin: 10px auto;',
                   data: { game_line: @bet.game_line_id, team: @bet.team_id }
