.add-bet.container{style: 'display: none;', data: { game_line: bet.game_line_id, team: bet.team_id }}
  .row
    .col-sm-12.event-header
      = link_to '#', class: 'pull-right event-remove' do
        %span.glyphicon.glyphicon-remove{'aria-hidden' => true}
      %h2
        I want to bet on the
        = bet.team.name
        = "(with odds #{with_sign(bet.odds)})"

  = form_for bet, remote: true do |f|
    .row
      .col-sm-12.col-md-6
        = f.label :risk, 'My risk'
        = f.number_field :risk,
                         step: 0.01, class: 'col-sm-12 bet-risk',
                         data: { odds: bet.odds }, required: true

      .col-sm-12.col-md-6
        %label
          I will get
        = f.number_field :payout, class: 'col-sm-12 bet-payout',
                                  step: 0.01,
                                  disabled: true

    .row
      .col-sm-12.col-md-6
        = f.submit "That's right, place the bet",
                   class: 'btn btn-success bet-update',
                   style: 'margin: 10px auto;',
                   data: { bet: bet.id, risk: bet.risk }
