- if current_user.try(:has_active_bets?)
  %aside#bet-slip.build-bet-view
    %header.col-lg-12.betslip-mainheader
      %h2.col-lg-12.betslip-title
        %span.betslip-title
          Active bets

    = render collection: current_user.bets.active, partial: 'bets/bet'

    %footer.col-lg-12.betslip-footer
      %figure.col-lg-12.footer-header
        %h2.bets-selected.pull-left
          %span
            = pluralize(current_user.bets.active.count, 'Bet')

      %dl.col-lg-12.selected-list
        %dt.col-lg-6
          Total risk
        %dt.col-lg-6
          = number_to_currency(current_user.bets.active.map(&:risk).sum)
        %dt.col-lg-6
          Total payout
        %dt.col-lg-6
          = number_to_currency(current_user.bets.active.map(&:payout).sum)

      = link_to bets_user_path(id: current_user.id),
                class: 'cta-button btn btn-danger col-lg-12' do
        Review bets

      %p#login_msg.hide
        You need to be logged in to place bets.
        Please <a role="link">Log In</a> to proceed.
      %p#deposit_msg.hide
        You have insufficient funds to place bets.
        Please <a role="link">Deposit</a> to proceed.
