%h1
  My bets

%ul.nav.nav-pills
  %li{role: 'presentation', class: ('active' if 'all' == params[:type])}
    = link_to bets_user_path(type: 'all') do
      All bets
  %li{role: 'presentation', class: ('active' if 'active' == params[:type])}
    = link_to bets_user_path(type: 'active') do
      Active
  %li{role: 'presentation', class: ('active' if 'archived' == params[:type])}
    = link_to bets_user_path(type: 'archived') do
      Archived

%table.table.table-hover
  %thead
    %tr
      %th
        Date
      %th
        Risk
      %th
        Team
  %tbody
    - @bets.each do |bet|
      %tr
        %td
          = l(bet.created_at)
        %td
          = number_to_currency(bet.risk)
        %td
          = link_to bet, bet
