%article.gamelie-section.row{role: 'article'}
  .gameline-info
    %table.table.game-line-table
      %thead
        %th
          %time.time
            %i.fa.fa-clock-o
              = game_line.formatted_date
        %th Odds
        %th Place your bet
      %tbody
        %tr
          %td
            %h3.lines-team{role: 'heading'}
              = game_line.team1.name
          %td
            %span.odds
              = game_line.team1_odds
          %td
            = link_to_add_bet(game_line, game_line.team1)
        %tr
          %td
            %h3.lines-team{role: 'heading'}
              = game_line.team2.name
          %td
            %span.odds
              = game_line.team2_odds
          %td
            = link_to_add_bet(game_line, game_line.team2)
  .div
    = link_to game_line.sport.title, game_line.sport, {class:  'btn btn-sm'}
