%article.gamelie-section.row{role: 'article'}
  .gameline-info
    %table.table.game-line-table
      %thead
        %th
          %time.time
            %i.fa.fa-clock-o
              = game_line.formatted_date
        %th Odds
        %th Place your bet
      %tbody
        %tr
          %td
            %h3.lines-team{role: 'heading'}
              = game_line.team1.name
          %td
            %span.odds
              = with_sign(game_line.team1_odds)
          %td
            = link_to 'Bet on this team', '#',
                      class: 'btn btn-sm btn-primary link_to_add_bet',
                      data: { game_line: game_line.id,
                              team: game_line.team1.id }
        %tr
          %td
            %h3.lines-team{role: 'heading'}
              = game_line.team2.name
          %td
            %span.odds
              = with_sign(game_line.team2_odds)
          %td
            = link_to 'Bet on this team', '#',
                      class: 'btn btn-sm btn-primary link_to_add_bet',
                      data: { game_line: game_line.id,
                              team: game_line.team2.id }

  = render 'bets/form', bet: Bet.new(game_line_id: game_line.id, team_id: game_line.team1.id, risk: Bet::DEFAULT_RISK)

  = render 'bets/form', bet: Bet.new(game_line_id: game_line.id, team_id: game_line.team2.id, risk: Bet::DEFAULT_RISK)
