<p id="notice"><%= notice %></p>

<p>
  <strong>Sport:</strong>
  <%= @game_line.sport_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game_line.date %>
</p>

<%= link_to 'Edit', edit_game_line_path(@game) %> |
<%= link_to 'Back', games_line_path %>
