%aside#bet-slip.build-bet-view
  %header.betslip-mainheader.col-lg-12
    %h2.col-lg-6.betslip-title{role: 'heading'}
      %span.betslip-title
        Login

  %section.event-bet.col-lg-12
    %header.col-lg-12.event-header
      %h2{role: 'heading'}
        %span.event-team
          Login to start betting

    .event-body.col-lg-12
      = form_for User.new, url: new_user_session_path do |f|
        .form-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'form-control'

        .form-group
          = f.label :password, class: 'control-label'
          = f.password_field :password, class: 'form-control'
          %p.help-block
            = link_to 'Forgot your password?', new_user_password_path

        .checkbox
          %label
            = f.check_box :remember_me
            Remember me

        = f.submit 'Sign in', class: 'btn btn-primary'

      %br

      Don't have an account yet?
      %br.visible-lg
      = link_to 'Create an account', new_user_registration_path

