<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uptown Sports Dream</title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div id="wrapper">
		<%= render ('application/navigation') %>

		<div id="page-wrapper">
			<div class="container-fluid">
                <div class="col-lg-9 col-sm-12">
                    <div class="row ">
                    	<div class="col-xs-12">
                    		<p class="notice"><%= notice %></p>
							<p class="alert"><%= alert %></p>
                    	</div>

                    	<%= yield %>
                    	
				        <%= render ('application/footer') %>

                    </div>
                </div>
                <%= render ('application/sidepanel') %>
            </div>
		</div>
	</div>
	<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    $('#sidebar').affix({
      offset: {
        top: $('header').height()
      }
	}); 
    </script>
</body>
</html>
<!-- gx@3^LaB#gleuSl -->